[submodule "_scss"]
	path = _scss
	url = https://github.com/arqtrad/styles-bootstrap
[submodule "src/_data/schemata"]
	path = src/_data/schemata
	url = https://github.com/arqtrad/schemata
[submodule "src/_includes"]
	path = src/_includes
	url = https://github.com/arqtrad/eleventy-includes
