---
title         : "Arquitetura e Urbanismo no Brasil Colônia e Império"
layout        : archive
entries_layout: grid
classes       : wide
toc           : false
read_time     : false
author_profile: true
header:
  overlay_image:
  overlay_filter: 0.5
  caption:
tagline: |
  Produção arquitetônica e processo de urbanização do
  Descobrimento até fins do século
  <span class="smallcaps">XIX</span>. Arquitetura indígena,
  vernácula e dos imigrantes.
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture title %}{{ collection.title }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ title }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
