{% capture written_label %}'None'{% endcapture %}
{% capture entries_layout %}{{ page.entries_layout }}{% endcapture %}

{% assign collections = site.collections | sort: "unidade" %}
{% for collection in collections %}
{% unless collection.output == false or collection.label == "posts" %}
  {% capture title %}{{ collection.label }}{% endcapture %}
  <div class="taxonomy__section">
    <section id="{{ label | slugify }}">
      {% if label != written_label %}
	<h2>{{ title | capitalize}}</h2>
	{% capture written_label %}{{ label }}{% endcapture %}
      {% endif %}
      <div class="entries-{{ entries_layout }}">
      {% for post in collection.docs %}
	{% unless collection.output == false or collection.label == "posts" %}
	  {% include archive-single.html type=entries_layout %}
	{% endunless %}
      {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  </div>
{% endunless %}
{% endfor %}

