@charset "utf-8";

/* ==========================================================================
   Font providers {{{1
   ========================================================================== */

@import "type";

/* ==========================================================================
   Variables {{{1
   ========================================================================== */

// Option 1
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
// Place variable overrides first, then import just the styles you need.
// Note that some stylesheets are required no matter what.

// Toggle global options
$enable-shadows: true;
$enable-gradients: true;

// This enables auto switching to dark mode based on the client's OS/browser settings:
$color-mode-type: media-query;

//$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Customize some defaults
$body-color:           $dark;
$body-bg:              $light;
$primary:              $blue-800;
//$light:                #fcf9e6;
$body-emphasis-color:  $gray-800;
$link-decoration:      none;
$success:              #7952b3;

$headings-color:       $body-color;

$theme-colors: (
  "primary":    $dark,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$link-color:              $gray-800;
$link-hover-color:        $dark;
$component-active-color:  $body-color;
$component-active-bg:     $gray-800;
$pagination-active-color: $body-color;
$pagination-active-bg:    $gray-800;

$link-color-dark:         tint-color($body-tertiary-color, 40%);
$link-hover-color-dark:   shift-color($link-color-dark, -$link-shade-percentage);


/* ==========================================================================
   Imports {{{1
   ========================================================================== */

// Required
//@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal"; // Requires transitions
 //@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


/* ==========================================================================
   Custom styles {{{1
   ========================================================================== */

// Structural elements {{{2
* {
  transition: 0.3s;
}

h2 {
  @extend .w-100;
}

main figure {
  @extend .figure;
  img {
    @extend .figure-img;
    @extend .img-fluid;
    @extend .border;
    @media (prefers-color-scheme: dark) {
      opacity: 0.8;
    }
  }
}

main figcaption,
blockquote > footer {
  @extend .float-lg-end;
  @extend .col-lg-4;
  @extend .ps-lg-3;
  clear: right;
}

// IDs {{{2
#site-nav {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-between;
  @extend .justify-content-lg-around;
  @extend .align-items-center;
  .nav {
    @extend .flex-shrink-0;
    a {
      @extend .px-2;
      @extend .link-secondary;
    }
  }
  form {
    @extend .flex-shrink-1;
  }
}

#hero {
  background-size: cover;
  background-position: center;
  h1,
  .lead {
    text-shadow: 1px 1px 2px rgba($body-bg, 70%);
    @media (prefers-color-scheme: dark) {
      text-shadow: 1px 1px 2px rgba($body-bg-dark, 70%);
    }
  }
}

#bibliography {
  @extend .h2;
  @extend .fst-italic;
}

// Typographical elements {{{2
body {
  font-variant-numeric: oldstyle-nums proportional-nums;
  counter-reset: sidenote-counter;
}

nav {
  @extend .fw-medium;
}

main p:not(.card-text) {
  hyphens: auto;
}

h3:not(.card-title) {
  @extend .fw-medium;
  @extend .fs-5;
}

h1,
h4,
h5,
h6 {
  @extend .w-auto;
  @extend .fst-normal;
}

h5,
dt {
  @extend .me-2;
  font-family: $font-family-base;
  font-variant: small-caps;
}

dt {
  @extend .d-inline-block;
  @extend .float-start;
  @extend .pe-3;
  @extend .fw-medium;
}

main li::marker {
  content: "› ";
}

q {
  &::before {
    content: "« ";
  }
  &::after {
    content: " »";
  }
}

form,
input,
table {
  font-family: $font-family-sans-serif;
}

tfoot,
.keywords-title {
  @extend .fw-bold;
}

.site-title {
  font-variant: all-small-caps;
  .site-subtitle {
    @extend .fst-italic;
    font-variant: normal;
    font-variant-numeric: oldstyle-nums;
  }
}

.subtitle {
  @extend .fst-italic;
  font-variant-numeric: lining-nums;
}

.lead {
  @extend .fw-medium;
  @extend .fst-italic;
}

.sidebar,
.toc {
  @extend .fs-6;
  @extend .text-secondary;
  a {
    @extend .text-decoration-none;
    @extend .link-secondary;
  }
  .sidebar__nav {
    @extend .list-unstyled;
    &.sidebar__nav > li {
      @extend .py-2;
      @extend .border-bottom;
      > a {
        font-family: $font-family-narrow;
      }
    }
  }
}

.capitalize-first {
  @extend .d-inline-block;
  &:first-letter {
    text-transform: uppercase;
  }
}

h3.card-title,
.btn {
  font-family: $font-family-narrow;
  @extend .fst-normal;
}


// Blockquote {{{3
// Bootstrap specs <blockquote> wrapped in <figure>.
.blockquote {
  @extend .my-3;
  @extend .fs-6;
}

blockquote > footer,
blockquote + figcaption {
  @extend .col-lg-6;
  @extend .blockquote-footer;
}

figcaption,
blockquote > footer {
  @extend .fw-medium;
  a {
    @media (prefers-color-scheme: dark) {
      color: $body-tertiary-color-dark;
    }
  }
}

small {
  @extend .fw-medium;
}

// Bootstrap Classes {{{2
figcaption,
blockquote > footer {
  @extend .figure-caption;
}

.card-img-top {
  @extend .object-fit-cover;
  @extend .w-100;
  aspect-ratio: 3 / 2;
}

.card-header,
.page-footer {
  @extend .fw-medium;
}

.page-footer {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .py-3;
  @extend .my-4;
  @extend .border-top;
  @extend .fs-6;
}

// Tufte and CSL classes {{{2
// Columns {{{3
main {
  @extend .d-md-flex;
  @extend .flex-md-nowrap;
}

.container.has-sidebar {
  @extend .ms-lg-0;
  @extend .d-md-flex;
  @extend .flex-grow-1;
}

main > .container > .row {
  @extend .flex-row;
  @extend .gx-3;
  @extend .justify-content-between;
  &:not(.wide) {
    > p,
    > h2,
    > h3, 
    > h4, 
    > h5, 
    > h6, 
    > hr,
    > ol, 
    > ul, 
    > pre, 
    > address, 
    > dl, 
    > fieldset, 
    > form, 
    > table,
    > figure:not(.subfigures) img:not(.col-lg-12):not(.aside),
    #refs {
      @extend .col-lg-8;
    }
    > blockquote,
    > .blockquote {
      @extend .col-md-11;
      @extend .col-lg-6;
      @extend .offset-md-1;
    }
  }
}

.epigraph {
  @extend .col-md-10;
  @extend .col-lg-5;
  @extend .offset-md-2;
  @extend .col-lg-6;
  @extend .offset-lg-1;
  @extend .fst-italic;
}

// CSL {{{3
.hanging-indent .csl-entry {
  @extend .my-3;
  @extend .ps-4;
  text-indent: -1.3rem;
}

// Marginalia {{{3
.aside {
  @extend .col-md-6;
  @extend .col-lg-4;
  @extend .float-lg-end;
  clear: right;
  * {
    @extend .w-100;
  }
}

.sidebar {
  @extend .order-first;
  @extend .d-md-flex;
  @extend .flex-column;
  @extend .flex-shrink-1;
  @extend .me-5;
  @extend .ms-auto;
  @extend .ps-5;
  @extend .opacity-50;
  &:hover {
    @extend .opacity-100;
  }
  @include media-breakpoint-up(lg) {
    max-width: 300px;
  }
}

.sidenote,
.marginnote {
  @extend .d-inline;
  @extend .offcanvas;
  @extend .offcanvas-bottom;
  @extend .p-3;
  @extend .text-center;
}

.sidenote-number,
.sidenote-number:after,
.sidenote:before {
  @extend .fw-medium;
}

.sidenote-number {
  @extend .mx-1;
  cursor: pointer;
  font-family: $font-family-base;
  counter-increment: sidenote-counter;
  &:after {
    content: counter(sidenote-counter);
    @extend .p-0;
    @extend .btn;
    @extend .btn-outline-secondary;
    @extend .rounded-pill;
    width: 1.5rem;
    height: 1.5rem;
    line-height: .85;
  }
}

.sidenote:before {
  @extend .d-inline;
  @extend .text-start;
  @extend .text-nowrap;
  width: 1.3rem;
  content: counter(sidenote-counter) " ";
}

.margin-toggle:checked + .sidenote,
.margin-toggle:checked + .marginnote {
  @extend .show;
}

.margin-toggle:not(.sidenote-number) {
  @extend .d-inline;
  @extend .d-lg-none;
}


// Compatibility with Reveal.js {{{2
hr {
  @extend .clearfix;
  @extend .border-0;
}

.incremental,
.notes {
  @extend p;
}

.columns {
  @extend .g-3;
  @extend .row;
  &:not(.subfigures) figcaption {
    @extend .col-md-12;
    @extend .col-lg-8;
  }
}

.column {
  @extend .float-md-start;
  figure img {
    @extend .col-md-12;
    @extend .col-lg-12;
  }
}

// Custom classes {{{2
.keywords,
.keywords li {
  @extend .d-inline;
  @extend .m-0;
  @extend .p-0;
}

.subfigures > figcaption {
  @extend .col-lg-3;
  @extend .float-lg-end;
  p {
    @extend .text-start;
  }
}

.hero__caption {
  @extend .position-absolute;
  @extend .bottom-0;
  @extend .end-0;
  @extend .px-3;
  @extend .text-end;
  @extend .opacity-50;
  @extend .text-bg-dark;
  font-size: 75%;
  border-top-left-radius: var(--bs-border-radius) !important;
  a {
    @extend .link-light;
    @extend .link-opacity-75;
    &:hover {
      @extend .link-opacity-100;
    }
  }
}

.line {
  @extend .border-0;
  @media (prefers-color-scheme: dark) {
    filter: invert(0.86);
  }
}

.page-footer__credit {
  @extend .d-flex;
  @extend .col-md-4;
  @extend .align-items-center;
  @extend .text-body-secondary;
}
// vim: shiftwidth=2 tabstop=2 expandtab foldmethod=marker nowrap
