{%- block clearWhitespace -%}
<div class="container-fluid p-0">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 my-3">
  {% for a in album %}
    <div class="col">
      <div class="card shadow-sm mb-3 h-100">
        <img class="card-img-top" alt="Imagem do(a) {{ a.data.title }}" src="{{ a.data.teaser }}" />
        <div class="card-header d-flex text-end text-body-secondary fs-5">
          <a class="ps-3 link-secondary ms-auto" href="{{ a.url }}" alt="Notas de aula" title="Notas de aula" aria-label="Notas de aula">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#book"/>
            </svg>
          </a>
          <a class="ps-3 link-secondary" href="#" alt="Slides" title="Slides" aria-label="Slides">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#easel"/>
            </svg>
          </a>
        </div><!--/.card-header-->
        <div class="card-body">
          <h3 class="card-title">
            <a class="stretched-link" href="{{ a.url }}" class="text-decoration-none link-body-emphasis">{{ a.data.title }}</a>
          </h3>
          <p class="card-text">{{ a.data.description | safe }}</p>
        </div><!--/.card-body-->
        <div class="card-footer">
          <small class="text-body-secondary">
            {{ a.data.date | dateFilter }}
          </small>
        </div><!--/.card-footer-->
      </div><!--/.card-->
    </div><!--/.col-->
  {% endfor %}
  </div><!--/.row-->
</div><!--/.container-fluid-->
{%- endblock -%}
