<div class="btn-group me-2 col-md-4" role="group" aria-label="Avançar ou retroceder">
{% if previousPost %}
  <a type="button" class="btn btn-outline-secondary" href="{{ previousPost.url }}">« Anterior</a>
{% else %}
  <button type="button" class="btn btn-outline-secondary" disabled>« Anterior</button>
{% endif %}
{% if nextPost %}
  <a type="button" class="btn btn-outline-secondary" href="{{ nextPost.url }}">Seguinte »</a>
{% else %}
  <button type="button" class="btn btn-outline-secondary" disabled>Seguinte »</button>
{% endif %}
</div><!--/.btn-group-->

